<!-- Page Content -->

<!-- Jumbotron Header -->
<header class="fondo jumbotron" style="margin-top:80px;">
  <h1 style="font-family: Gill Sans, sans-serif"><%= @description[@category.id-1][0] %></h1>
  <p style="font-family: Gill Sans, sans-serif"><%= @description[@category.id-1][1] %></p>
</header>

<hr>

<!-- Title -->
<div class="row">
  <div class="col-lg12">
    <h3>Categorías</h3>
  </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center" style="margin-bottom:80px;">




</div>

<br></br>

