<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 style="font-family: Gill Sans, sans-serif;" class="tagline">Tasca el Aljibe</h1>
      </div>
    </div>
  </div>
</header>


<!-- Page Content -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <h2 style="font-family: Gill Sans, sans-serif">¿Quiénes somos?</h2>
      <p style="font-family: Gill Sans, sans-serif">Restaurante de cocina contemporánea amplio y separado en varias salas, sitio agradable donde disfrutar de una buena comida. Ofrece una relación calidad precio de muy buen nivel.</p>
      <p style="font-family: Gill Sans, sans-serif">Algunas de las personas que han visitado este lugar recomiendan algunas de sus especialidades como pueden ser las batatas con bavalao, el solomillo a las tres salsas o las garbanzas. También posee una buena variedad de ensaladas entre las que encontramos la ensalada de bacalao con frutos secos.</p>
    </div>
    <div class="col-sm-4">
      <h2 style="font-family: Gill Sans, sans-serif">Contáctenos</h2>
      <address style="font-family: Gill Sans, sans-serif">
        <strong>Tasca el Aljibe</strong>
        <br>Camino Tabares, 18
        <br>38330 San Cristóbal de La Laguna
        <br>
      </address>
      <address>
          <abbr title="Phone" style="font-family: Gill Sans, sans-serif">P:</abbr> (922) 63-61-11/63-62-52
          <br>
          <a style="font-family: Gill Sans, sans-serif">http://tascaelaljibe.es/</a>
          <!--abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a-->
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="../LUGAR/img/Aljibe/1.jpg" alt="">
      <h2 style="font-family: Gill Sans, sans-serif">Comidas</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484">En su carta encontraremos tablas de embutidos, variedad de entrantes y picoteo para empezar y por último divide sus comidas en "Del mar" y "Del campo".</p>
    </div>
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="../LUGAR/img/Aljibe/2.jpg" alt="">
      <h2 style="font-family: Gill Sans, sans-serif">Gran variedad de vinos</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484">En la Tasca el Aljibe encontraremos una gran variedad de vinos, canarios, nacionales y hasta portugueses. Tintos, blancos y espumosos.</p>
    </div>
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="../LUGAR/img/Aljibe/mapa.png" alt="">
      <h2 align="center" style="font-family: Gill Sans, sans-serif">UBICACIÓN</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484">Obtenga la ubicación de la Tasca El Aljibe en Google Maps</p>
    </div>
  </div>
  <hr>
</div>

<br></br>
<br></br>
