/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "railsbricks_custom";

.alert {
  z-index: 999;
  text-align: center;
  position: fixed;
  top: 60px;
}


//***********************************************************
// FOOTER
#footer {
  z-index: 0;
  min-height: 80px;
  color: white;
  background-color: #222;
  
  .footer-first-row {
    padding-top: 20px;
  }
}
//***********************************************************

