/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "railsbricks_custom";

.alert {
//  overflow: hidden;
  z-index: 999;
  text-align: center;
  position: fixed;
  top: 60px;
}




//***********************************************************
// FOOTER
#footer {
  //background-color: #ffffff;
  //color: #373737;
  //height: 100px;
  //margin-top: -100px;  
  //letter-spacing: 1px;
  
  z-index: 0;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //width: 100%;
  min-height: 80px;
  //max-height: 120px;
  //height: auto;
  color: white;
  //text-decoration: none;
  background-color: #222;
  margin-top: -80px;


  
  .footer-first-row {
    padding-top: 20px;
  }
}
//***********************************************************

