.votos {
    width: 178px;
    height: 34px;
}

.voto {
    font-size:18px;
    color:green;
    margin-left: 78px;
    margin-top: 4px;
    position: absolute;
}

#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}

.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}

.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}

.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '/'; 
    margin-left: -2px; 
    margin-right: 2px;
}

.media-comment { margin-bottom: 20px; }

.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}