<p>¿Bienvenido a Que Hago Hoy! <%= @user.username.capitalize %>!</p>

<p>Para poder acceder con tu cuenta es necesario que confirmes la cuenta haciendo click en siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>

<p>
 Gracias,<br/><br/>
  ¡nos vemos!<br/>
  <%= link_to "Que Hago Hoy", "www.quehagohoy.me" %>
</p>
