<p>¡Hola <%= @resource.username.capitalize %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no has solicitado este cambio, ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que no hayas accedido al enlace y hayas creado una contraseña nueva.</p>
<br/>

<p>
 Gracias,<br/><br/>
  ¡nos vemos!<br/>
  <%= link_to "Que Hago Hoy", "www.quehagohoy.me" %>
</p>