<!-- FOOTER RBRICKS ORIGINAL
<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Yourself!
          <br/>
          Assembled with <%= link_to "RailsBricks", "http://www.railsbricks.net" %>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>
-->

<!-- FOOTER QUEHAGOHOY -->
<!-- <footer>
  <p class="pull-right"><a href="#" style="color: white;"><u><em><i><b><tt>Subir</tt></b></i></em></u></a></p>
  <p>Copyright &copy; Que Hago Hoy 2014</p>
</footer> -->

<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Que Hago Hoy
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>